@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --white : hsl(0, 0%, 100%);
    --Pale-blue : hsl(221, 100%, 96%);
    --Light-lavender :  hsl(241, 100%, 89%);
    --Dark-gray-blue : hsl(180, 1%, 86%);
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue :  hsl(241, 81%, 54%) ;
    --Violet-blue: rgb(88, 33, 240);
    --Persian-blue : hsla(241, 57%, 27%, 0.274);
    --Light-red: hsla(0, 100%, 67%, 0.411) ;
    --Orangey-yellow: hsla(39, 93%, 59%, 0.808);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
    color:white
}
body{
    height: 100vh;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    .contanir{
        height: 60vh;
        width: 40%;
        /* background-color: black; */
        display: flex;
        .Result{
            width: 50%;
            background-color :var(--Violet-blue);
            text-align: center;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            border-radius: 20px;
            .head{
                h3{
                    color:var(--Dark-gray-blue);
                    margin-top: 15px;
                }
            }
            .mark{
                width: 135px;
                height: 135px;
                border-radius: 50%;
                margin: 0 auto;
                background-color : var(--Persian-blue);
                span{
                    display: flex;
                    flex-direction: column;
                    margin-top: 30px;
                    height: 2rem;
                }
                span:nth-child(1){
                    font-size: 3.2rem;
                    font-weight: bold;
                }
                span:nth-child(2){
                    font-size: 1rem;
                    font-weight: bold;
                    color: rgba(214, 212, 212, 0.753);
                }
            }
            .feedback{
                
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                span{
                    margin-bottom: 10px;
                    font-size: 25px;
                    font-weight: bold;
                }
                p{
                    width: 13rem;
                    padding-bottom: 20px;
                    font-size: 15px;
                    color:rgb(177, 175, 175)
                }
            }
        }
        /* start Summary */
        .Summary{
            background-color: var(--white);
            -webkit-box-shadow: 6px -1px 10px 8px rgba(242,239,242,1);
            -moz-box-shadow: 6px -1px 10px 8px rgba(242,239,242,1);
            box-shadow: 6px -1px 10px 8px rgba(242,239,242,1);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            h2{
                color: black;
                font-size: 18px;
            }
            /* background-color: var(--white); */
            width: 50%;
            padding: 10px 25px;
            .tableMark{
                .title{
                    margin-top: 14px;
                    margin-left: 5px;
                }
                margin: 15px 0px;
                    div{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 1px;
                        margin-bottom: 14px;
                        border-radius: 10px;
                        font-weight: bold;
                    }
                    .sty-summary:nth-child(1){
                        background-color: rgba(255, 0, 0, 0.062);
                        span{
                            color:var(--Light-red)
                        }
                    }
                    .sty-summary:nth-child(2){
                        background-color: rgba(255, 255, 0, 0.082);
                        span{
                            color:var(--Orangey-yellow)
                        }
                    }
                    .sty-summary:nth-child(3){
                        background-color: rgba(0, 128, 128, 0.075);
                        span{
                            color:var(--Green-teal)
                        }
                    }
                    .sty-summary:nth-child(4){
                        background-color: rgba(0, 0, 255, 0.075);
                        span{
                            color:var(--Cobalt-blue)
                        }
                    } 
                .title{
                    span{
                        padding-left: 5px;
                    }
                }
                h4{
                    color:black;
                    padding-right: 5px;
                }
            }
            button{
                width: 100%;
                padding: 10px;
                border-radius: 17px;
                outline: none;
                border: none;
                background-color: rgba(11, 17, 51, 0.753);
                margin-top: 5px;
            }
        }
    }
}